<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/dono/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/dono/estacionamento">Estacionamentos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/dono/funcionario">Funcionários</a>
        </li>
        <li class="nav-item active">
          <button class="nav-link btn btn-link" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </nav>