<div class="container">
<h2>Estacionamentos</h2>

<a type="button" class="btn btn-success" routerLink="./cadest">Cadatrar estacionamento</a>

<table class="table mt-2">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">CEP</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Do centro</td>
        <td>97105-900</td>
        <td>
            <button type="button" class="btn btn-warning" rounterLink="dono/estacionamento/editest">Editar</button>
            <button type="button" class="btn btn-danger ml-2">Excluir</button>
        </td>
      </tr>
     
    </tbody>
  </table>
</div>